* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: pointer; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* cursor: pointer; */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

/* Base nav item style */
.nav-item {
    transition: color 0.3s ease;
    cursor: pointer;
}

/* Default hover for all nav items */
.nav-item:hover {
    color: #F9E387;
    font-weight: bold;
}

.projects-page-label {
    color: #BE5B80;
    transition: color .5s ease;
    display: inline;
}

/* Hover override for label */
.projects-page-label:hover {
    color: #F9E387;
    font-weight: bold;

}

/* Project Grid Layout */
.project-grid {
    display: flex;
    flex-direction: column;
    /* Stack rows vertically */
    gap: 10vh;
    margin-top: 20vh;
    margin-left: 25vw;
}

/* Each row of images */
.project-row {
    display: flex;
    gap: 10vw;
}

/* Image Styling */
.project-grid img {
    width: 20vw;
    height: 28vh;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: 'pointer';
}

.project-grid img:hover {
    transform: scale(1.25);
}

/* Ensures hovered media sits above blur overlay */
.project-grid img.hovered,
.project-grid video.hovered {
    z-index: 10;
    position: relative;
    /* ensures z-index takes effect */
}

.project-grid video {
    cursor: pointer;
}

/* Blur effect when hovering */
.main-content.blur-active {
    filter: blur(5px);
    transition: filter 0.5s ease;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 0;
    /* Below everything else */
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.blur-overlay.visible {
    opacity: 1;
}

.about-text-box {
    position: absolute;
    top: 50%;
    left: 20vw;
    transform: translateY(-50%);
    width: 30vw;
    /* background-color: #f9f9f9; */
    padding: 3vh 2vw;
    border-radius: 8px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    font-family: 'NewFont', sans-serif;
    font-size: 1.2vw;
    line-height: 1.5;
}

.profile-wrapper {
    position: absolute;
    left: 20vw;
    top: 60vh;
    transform: translateY(-50%);
}

.profile-photo {
    width: 20vw;
    top: 60vh;
    /* border-radius: 8px; */
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about-heading {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2vw;
    font-family: 'Lexend', sans-serif;
    color: #000000;
    z-index: 10;
}

.animated-line {
    position: absolute;
    top: 25vh;
    /* adjust vertical position */
    left: 20vw;
    /* starting X */
    height: 2px;
    width: 0;
    background-color: #000;
    transition: width 1s ease-in-out;
    z-index: 5;
}

.animated-line.expand {
    width: 60vw;
    /* final length */
}