/* Reset and General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  cursor: none;
  /* Hides the default cursor */
}

.nav-item {
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-item:hover {
  color: #BE5B80;
  /* Or any color you like */
}

.nav-item:hover {
  color: #BE5B80;
  font-weight: bold;
}